<div class="container">
  <label for="exampleFormControlInput1" class="mt-3">Course Title</label>
  <input
    type="text"
    [(ngModel)]="title"
    class="form-control"
    id="exampleFormControlInput1"
    placeholder="Enter course title ..."
  />
  <label for="exampleFormControlInput1" class="mt-5">Course Content</label>
  <angular-editor
    [placeholder]="'Enter course content here ...'"
    [config]="config"
    [(ngModel)]="htmlContent"
  ></angular-editor>

  <button
    type="submit"
    class="btn btn-primary mt-5"
    *ngIf="param2; else elseBlock"
    (click)="updateCourse(htmlContent, title)"
  >
    Update
  </button>
  <ng-template #elseBlock>
    <button
      type="submit"
      class="btn btn-primary mt-5"
      (click)="addCourse(htmlContent, title)"
    >
      Save
    </button>
  </ng-template>
</div>
