<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <head>
    <title>Bootstrap CRUD Data Table for Database with Modal Form</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container mt-3">
      <form class="form-inline my-2 my-lg-0">
        <input
          (ngModelChange)="searchPatient(key.value)"
          #key="ngModel"
          ngModel
          name="key"
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
    <div class="container-xl">
      <div class="table-responsive">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-6">
                <h2>Manage <b>Employees</b></h2>
              </div>
              <div class="col-sm-6">
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#viewAllService"
                  (click)="getServices()"
                >
                  <i class="material-icons">&#xe8f4;</i>
                  <span>View All Services</span>
                </button>
                <!-- Service Details -->
                <!-- -------------------------------------------- showing service -->
                <!-- Modal -->
                <div
                  class="modal fade"
                  id="viewAllService"
                  tabindex="-1"
                  aria-labelledby="viewAllService"
                  aria-hidden="true"
                >
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1
                          class="modal-title fs-5"
                          id="viewAllService"
                          style="color: black"
                        >
                          Services List
                        </h1>

                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <table class="table table-striped table-hover">
                          <thead>
                            <tr>
                              <th>Sr. No.</th>
                              <th>Service Name</th>
                              <th>Charges</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              *ngFor="let sv of result?.services; let i = index"
                            >
                              <td>{{ i + 1 }}</td>
                              <td>{{ sv.serviceName }}</td>
                              <td>{{ sv.fees }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Close
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#addPatient"
                  (click)="clear()"
                >
                  <i class="material-icons">&#xE147;</i>
                  <span>Add New Patient</span>
                </button>

                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                >
                  <i class="material-icons">&#xE15C;</i> <span>Delete</span>
                </button>
              </div>
            </div>
          </div>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Sr. No.</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Services</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pt of resp?.patient; let i = index">
                <td>{{ pt.pid }}</td>
                <td>{{ pt.firstName }}</td>
                <td>{{ pt.lastName }}</td>

                <td>
                  <a
                    href=""
                    data-bs-toggle="modal"
                    data-bs-target="#viewService"
                    (click)="edit(pt)"
                  >
                    <i class="material-icons">&#xe8f4;</i>
                  </a>
                  <!-- Service Details -->
                  <!-- -------------------------------------------- showing service -->
                  <!-- Modal -->
                  <div
                    class="modal fade"
                    id="viewService"
                    tabindex="-1"
                    aria-labelledby="viewService"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="viewService">
                            Services List
                          </h1>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          ></button>
                        </div>
                        <div class="modal-body">
                          <table class="table table-striped table-hover">
                            <thead>
                              <tr>
                                <th>Sr. No.</th>
                                <th>Service Name</th>
                                <th>Charges</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr
                                *ngFor="
                                  let sv of editPatient?.services;
                                  let i = index
                                "
                              >
                                <td>{{ i + 1 }}</td>
                                <td>{{ sv.serviceName }}</td>
                                <td>{{ sv.fees }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Close
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <a
                    href="#updatePatient"
                    class="edit"
                    data-bs-toggle="modal"
                    data-bs-target="#updatePatient"
                    (click)="edit(pt)"
                    (click)="patchForm(pt)"
                    ><i
                      class="material-icons"
                      data-toggle="tooltip"
                      title="Edit"
                      >&#xE254;</i
                    >
                  </a>
                  <a
                    href="#deleteEmployeeModal"
                    class="delete"
                    data-toggle="modal"
                    (click)="deletePatient(pt.pid)"
                    ><i
                      class="material-icons"
                      data-toggle="tooltip"
                      title="Delete"
                      >&#xE872;</i
                    ></a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!------------------- Add Patient Details ------------------------- -->

    <div
      class="modal fade"
      id="addPatient"
      tabindex="-1"
      aria-labelledby="addPatient"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="addPatient">
              Add <b>Patient Details</b>
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="card" [formGroup]="form">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm">Fist Name</div>
                  <div class="col-sm">
                    <input
                      formControlName="firstName"
                      type="text"
                      class="form-control"
                    />
                  </div>

                  <div class="col-sm">Last Name</div>
                  <div class="col-sm">
                    <input
                      formControlName="lastName"
                      type="text"
                      class="form-control"
                    />
                  </div>
                </div>
                <br />
                <hr />
                <div class="row">
                  <div class="col-sm">
                    <h6><b>Services</b></h6>
                  </div>

                  <div class="col-sm">
                    <button
                      class="btn btn-outline-primary align-content-center"
                      (click)="addNewServices()"
                    >
                      <i class="material-icons">&#xE147;</i>
                      Add New
                    </button>
                  </div>
                </div>

                <ng-container
                  formArrayName="services"
                  *ngFor="let o of services?.controls; let i = index"
                >
                  <b>Service {{ i + 1 }}</b>

                  <hr />

                  <div class="row mt-2" [formGroupName]="i">
                    <div class="col-sm">Service Name</div>
                    <div class="col-sm">
                      <input
                        formControlName="serviceName"
                        type="text"
                        class="form-control"
                      />
                    </div>

                    <div class="col-sm">Fees</div>
                    <div class="col-sm">
                      <input
                        formControlName="fees"
                        type="number"
                        class="form-control"
                      />
                    </div>
                    <div class="col-sm">
                      <button
                        class="btn btn-outline-danger mx-3 mt-3"
                        (click)="removeServices(i)"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-trash3"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"
                          />
                        </svg>
                      </button>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="onSave()"
              data-bs-dismiss="modal"
            >
              Add
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- ---------------------------------------------- -->

    <!-- Delete Modal HTML -->
    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Delete All Patients
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete all records?</p>
            <p class="text-warning">
              <small>This action cannot be undone.</small>
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="deleteAllPatients()"
              data-bs-dismiss="modal"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>

    <!------------------- Update patient ------------------------- -->

    <div
      class="modal fade"
      id="updatePatient"
      tabindex="-1"
      aria-labelledby="updatePatient"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="updatePatient">
              Update <b>Patient Details</b>
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="card" [formGroup]="form">
              <!-- <div class="card-header">
                <h3>Update <b>Patient Details</b></h3>
              </div> -->
              <div class="card-body">
                <div class="row">
                  <div class="col-sm">Fist Name</div>
                  <div class="col-sm">
                    <!-- [(ngModel)]="editPatient.firstName" -->
                    <input
                      formControlName="firstName"
                      type="text"
                      class="form-control"
                    />
                  </div>

                  <div class="col-sm">Last Name</div>
                  <div class="col-sm">
                    <!-- [(ngModel)]="editPatient.lastName" -->
                    <input
                      formControlName="lastName"
                      type="text"
                      class="form-control"
                    />
                  </div>
                </div>
                <br />
                <hr />
                <div class="row">
                  <div class="col-sm">
                    <h6><b>Services</b></h6>
                  </div>

                  <div class="col-sm">
                    <button
                      class="btn btn-outline-primary"
                      (click)="addNewServices()"
                    >
                      Add New
                    </button>
                  </div>
                </div>

                <ng-container
                  formArrayName="services"
                  *ngFor="let o of services?.controls; let i = index"
                >
                  <!-- <div *ngFor="let s of editPatient.services; let j = index"> -->
                  <b>Service {{ i + 1 }}</b>
                  <hr />

                  <div class="row mt-2" [formGroupName]="i">
                    <div class="col-sm">Service Name</div>
                    <div class="col-sm">
                      <!-- [(ngModel)]="s.serviceName" -->
                      <input
                        formControlName="serviceName"
                        type="text"
                        class="form-control"
                      />
                      <!-- {{ s.serviceName }} -->
                    </div>
                    <!-- [(ngModel)]="s.fees" -->
                    <div class="col-sm">Fees</div>
                    <div class="col-sm">
                      <input
                        formControlName="fees"
                        type="number"
                        class="form-control"
                      />
                      <!-- {{ s.fees }} -->
                    </div>
                    <div class="col-sm">
                      <button
                        class="btn btn-outline-danger mx-3 mt-3"
                        (click)="removeServices(i)"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-trash3"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"
                          />
                        </svg>
                      </button>
                    </div>
                  </div>
                  <!-- </div> -->
                </ng-container>
              </div>
              <!-- <div class="card-footer text-center">
                <button (click)="onSave()" class="btn btn-primary">Add</button>
              </div> -->
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              type="reset"
              (click)="clear()"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="updatePatient()"
              data-bs-dismiss="modal"
            >
              Update
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- ---------------------------------------------- -->
  </body>
</html>
