<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<section *ngIf="state" class="mail-seccess section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-12">
        <!-- Error Inner -->
        <div class="success-inner">
          <h1>
            <i class="fa fa-envelope"></i
            ><span>Your Mail Sent Successfully!</span>
          </h1>
          <p>
            Hi {{ name }}, Thank you for joining us, your registration is
            successfully completed. We have sent you email on {{ email }},
            please confirm your email verification.
          </p>
          <a routerLink="/home" class="btn btn-primary btn-lg">Go Home</a>
        </div>
        <!--/ End Error Inner -->
      </div>
    </div>
  </div>
</section>
