<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<div class="container pb-5 mb-sm-4">
  <div class="row pt-5">
    <!--<div class="col-md-6 pt-sm-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="h4 mb-1">Sign in</h2>
                    <div class="d-sm-flex align-items-center py-3">
                        <h3 class="h6 font-weight-semibold opacity-70 mb-3 mb-sm-2 mr-sm-3">With social account:</h3>
                        <div>
                            <a class="social-btn sb-facebook mr-2 mb-2" href="#" data-toggle="tooltip" title="" data-original-title="Sign in with Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a class="social-btn sb-twitter mr-2 mb-2" href="#" data-toggle="tooltip" title="" data-original-title="Sign in with Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="social-btn sb-linkedin mr-2 mb-2" href="#" data-toggle="tooltip" title="" data-original-title="Sign in with LinkedIn">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <h3 class="h6 font-weight-semibold opacity-70 pt-4 pb-2">Or using form below</h3>
                    <form class="needs-validation" novalidate="">
                        <div class="input-group form-group">
                            <div class="input-group-prepend"><span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg></span></div>
                            <input class="form-control" type="email" placeholder="Email" required="">
                            <div class="invalid-feedback">Please enter valid email address!</div>
                        </div>
                        <div class="input-group form-group mt-4">
                            <div class="input-group-prepend"><span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg></span></div>
                            <input class="form-control" type="password" placeholder="Password" required="">
                            <div class="invalid-feedback">Please enter valid password!</div>
                        </div>
                        <div class="d-flex flex-wrap justify-content-between mt-4">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" checked="" id="remember_me">
                                <label class="custom-control-label" for="remember_me">Remember me</label>
                            </div><a class="nav-link-inline font-size-sm" href="account-password-recovery.html">Forgot password?</a>
                        </div>
                        <hr class="mt-4">
                        <div class="text-right pt-4">
                            <button class="btn btn-primary" type="submit">Sign In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>-->
    <div class="col-md-6 pt-5 pt-sm-3">
      <h2 class="h4 mb-3">No account? Sign up</h2>
      <p class="text-muted mb-4">
        Registration takes less than a minute but gives you full control over
        your orders.
      </p>
      <form
        #loginForm="ngForm"
        (ngSubmit)="register(loginForm)"
        class="needs-validation"
        novalidate=""
      >
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="reg-fn">Name</label>
              <input
                class="form-control"
                type="text"
                ngModel
                name="name"
                required=""
                id="reg-fn"
              />
              <div class="invalid-feedback">Please enter your first name!</div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="reg-ln">SurName</label>
              <input
                class="form-control"
                type="text"
                ngModel
                name="surname"
                required=""
                id="reg-ln"
              />
              <div class="invalid-feedback">Please enter your last name!</div>
            </div>
          </div>
          <!-- <div class="col-sm-6">
            <div class="form-group">
              <label for="reg-ln">Username</label>
              <input
                class="form-control"
                type="text"
                ngModel
                name="username"
                required=""
                id="reg-ln"
              />
              <div class="invalid-feedback">Please enter your username!</div>
            </div>
          </div> -->
          <div class="col-sm-6">
            <div class="form-group">
              <label for="reg-email">E-mail Address</label>
              <input
                class="form-control"
                type="email"
                required=""
                id="reg-email"
                ngModel
                name="email"
              />
              <div class="invalid-feedback">
                Please enter valid email address!
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="reg-phone">Phone Number</label>
              <input
                class="form-control"
                type="text"
                required=""
                id="reg-phone"
                ngModel
                name="phone"
              />
              <div class="invalid-feedback">
                Please enter your phone number!
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="reg-password">Password</label>
              <input
                class="form-control"
                type="password"
                required=""
                id="reg-password"
                ngModel
                name="password"
              />
              <div class="invalid-feedback">Please enter password!</div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="reg-password">Role</label>
              <select
                class="form-select mb-3"
                ngModel
                name="role"
                aria-label="Default select example"
              >
                <option disabled selected value>Select Role</option>
                <option value="USER">User</option>
                <option value="TEACHER">Creator</option>
              </select>
              <div class="invalid-feedback">Please enter password!</div>
            </div>
          </div>
        </div>
        <div class="text-right">
          <button class="btn btn-primary" type="submit">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
  crossorigin="anonymous"
/>

<body>
  <section class="h-100">
    <div class="container h-100">
      <div class="row justify-content-sm-center h-100">
        <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
          <div class="text-center my-5">
            <img
              src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg"
              alt="logo"
              width="100"
            />
          </div>
          <div class="card shadow-lg">
            <div class="card-body p-5">
              <h1 class="fs-4 card-title fw-bold mb-4">Register</h1>
              <form
                method="POST"
                class="needs-validation"
                novalidate=""
                autocomplete="off"
              >
                <div class="mb-3">
                  <label class="mb-2 text-muted" for="name">Name</label>
                  <input
                    id="name"
                    type="text"
                    class="form-control"
                    name="name"
                    value=""
                    required
                    autofocus
                  />
                  <div class="invalid-feedback">Name is required</div>
                </div>

                <div class="mb-3">
                  <label class="mb-2 text-muted" for="email"
                    >E-Mail Address</label
                  >
                  <input
                    id="email"
                    type="email"
                    class="form-control"
                    name="email"
                    value=""
                    required
                  />
                  <div class="invalid-feedback">Email is invalid</div>
                </div>

                <div class="mb-3">
                  <label class="mb-2 text-muted" for="password">Password</label>
                  <input
                    id="password"
                    type="password"
                    class="form-control"
                    name="password"
                    required
                  />
                  <div class="invalid-feedback">Password is required</div>
                </div>

                <p class="form-text text-muted mb-3">
                  By registering you agree with our terms and condition.
                </p>

                <div class="align-items-center d-flex">
                  <button type="submit" class="btn btn-primary ms-auto">
                    Register
                  </button>
                </div>
              </form>
            </div>
            <div class="card-footer py-3 border-0">
              <div class="text-center">
                Already have an account?
                <a href="index.html" class="text-dark">Login</a>
              </div>
            </div>
          </div>
          <div class="text-center mt-5 text-muted">
            Copyright &copy; 2017-2021 &mdash; Your Company
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="js/login.js"></script>-->
<!-- ------------------------------------------------------------------------------------------ -->
<!---
<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#addPatient"
  (click)="clear()"
>
  <i class="material-icons">&#xE147;</i>
  <span>Register</span>
</button>

<div class="card" [formGroup]="form">
  <div class="card-body">
    <div class="row">
      <div class="col-sm">Fist Name</div>
      <div class="col-sm">
        <input formControlName="name" type="text" class="form-control" />
      </div>
      <div class="col-sm">SurName</div>
      <div class="col-sm">
        <input formControlName="surname" type="text" class="form-control" />
      </div>
      <div class="col-sm">UserName</div>
      <div class="col-sm">
        <input formControlName="username" type="text" class="form-control" />
      </div>
      <div class="col-sm">E-mail</div>
      <div class="col-sm">
        <input formControlName="email" type="text" class="form-control" />
      </div>
      <div class="col-sm">Phone</div>
      <div class="col-sm">
        <input formControlName="phone" type="text" class="form-control" />
      </div>
      <div class="col-sm">Password</div>
      <div class="col-sm">
        <input formControlName="password" type="text" class="form-control" />
      </div>
    </div>
    <br />
    <hr />
    <div class="row">
      <div class="col-sm">
        <h6><b>Services</b></h6>
      </div>

      <div class="col-sm">
        <button
          class="btn btn-outline-primary align-content-center"
          (click)="addNewRoles()"
        >
          <i class="material-icons">&#xE147;</i>
          Add New
        </button>
      </div>
    </div>

    <ng-container
      formArrayName="roles"
      *ngFor="let o of roles?.controls; let i = index"
    >
      <b>Service {{ i + 1 }}</b>

      <hr />

      <div class="row mt-2" [formGroupName]="i">
        <div class="col-sm">Service Name</div>
        <div class="col-sm">
          <input
            formControlName="serviceName"
            type="text"
            class="form-control"
          />
        </div>

        <div class="col-sm">Fees</div>
        <div class="col-sm">
          <input formControlName="fees" type="number" class="form-control" />
        </div>
        <div class="col-sm">
          <button
            class="btn btn-outline-danger mx-3 mt-3"
            (click)="removeRoles(i)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-trash3"
              viewBox="0 0 16 16"
            >
              <path
                d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"
              />
            </svg>
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<button
  type="button"
  class="btn btn-primary"
  (click)="onSave()"
  data-bs-dismiss="modal"
>
  Add
</button>
-->
